<section class="container">
  <div class="image-container">
    <h1><%= @model['title'] %></h1>
    <img class="image" src="<%= href @model['image'] %>" alt="<%= @model['title'] %>">
<% if @model['description'] -%>
    <p><%= @model['description'] %></p>
<% end -%>
  </div>
  <div class="pagination">
<%# first -%>
<% if @model['first'] -%>
    <a class="button" href="<%= href @model['first'] %>">
      &lt;&lt; <span class="pagination-caption">Első</span>
    </a>
<% else -%>
    <span class="button button-outline">
      &lt;&lt; <span class="pagination-caption">Első</span>
    </span>
<% end -%>
<%# prev -%>
<% if @model['prev'] -%>
    <a class="button" href="<%= href @model['prev'] %>">
      &lt; <span class="pagination-caption">Előző</span>
    </a>
<% else -%>
    <span class="button button-outline">
      &lt; <span class="pagination-caption">Előző</span>
    </span>
<% end -%>
<%# next -%>
<% if @model['next'] -%>
    <a class="button" href="<%= href @model['next'] %>">
      <span class="pagination-caption">Következő</span> &gt;
    </a>
<% else -%>
    <span class="button button-outline">
      <span class="pagination-caption">Következő</span> &gt;
    </span>
<% end -%>
<%# last -%>
<% if @model['last'] -%>
    <a class="button" href="<%= href @model['last'] %>">
      <span class="pagination-caption">Legújabb</span> &gt;&gt;
    </a>
<% else -%>
    <span class="button button-outline">
      <span class="pagination-caption">Legújabb</span> &gt;&gt;
    </span>
<% end -%>
  </div>
<%= render "social_share.erb" -%>
</section>
