<!DOCTYPE html>
<html lang="<%= @model['site']['lang'] %>">
<%= render "header.erb" %>
<body>
<main class="wrapper">
<%= render "navigation.erb" %>
<%= render %>
<%= render "footer.erb" %>
</main>
<script src="<%= href 'asset/js/abrascet.js' %>"></script>
</body>
</html>